includes:
    - tools/phpstan/elegant-object.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#has typehint with deprecated class TournayreLabs\\#'
            path: src/*
        -
            message: '#Public method "TournayreLabs\\[^"]+" is never used#'
            path: src/*
        -
            message: '#appears to be a getter#'
            path: src/Contracts/DateTime/DateTimeInterface.php
        -
            message: '#GetInterface::getOrDefault\(\).*appears to be a getter#'
            path: src/Contracts/Collection/GetInterface.php
        -
            message: '#appears to be a setter#'
            path: src/Contracts/DateTime/DateTimeInterface.php
        -
            message: '#appears to be a setter#'
            path: src/Contracts/DependencyInjection/DependencyInjectionAwareInterface.php
        -
            message: '#is static#'
            path: src/Common/Assert/Assert.php
        -
            message: '#is static#'
            path: src/Contracts/Common/Assert/*
        -
            message: '#is static#'
            path: src/Symfony/Mailer/Adapter/EmailAdapter.php
        -
            message: '#has a public constant#'
            path: src/Primitives/StringType.php
        -
            message: '#DateTimeInterface::set\(\) has default value null#'
            path: src/Contracts/DateTime/DateTimeInterface.php
        -
            message: '#DateTimeInterface::setUnit\(\) has default value null#'
            path: src/Contracts/DateTime/DateTimeInterface.php
        -
            message: '#has default value null#'
            path: src/TryCatch/TryCatch.php
        -
            message: '#accepts null#'
            path: src/TryCatch/TryCatch.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Common/Assert/Assert.php
        -
            message: '#has default value null#'
            path: src/Common/Assert/Assert.php
        -
            message: '#accepts null#'
            path: src/Common/Assert/Assert.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Common/Model/DefaultUser.php
        -
            message: '#has default value null#'
            path: src/Common/Model/DefaultUser.php
        -
            message: '#has default value null#'
            path: src/Common/VO/Context/Context.php
        -
            message: '#initializeNull\(\) accepts null\|initializeNull\(\) has default value null#'
            path: src/*
        -
            message: '#accepts null for parameter \$isNull#'
            path: src/*
        -
            message: '#has default value null for parameter \$isNull#'
            path: src/*
        -
            message: '#__call\(\) returns null#'
            path: src/*
        -
            message: '#is mutable#'
            path: src/Primitives/Numeric.php
        -
            message: '#is mutable#'
            path: src/Common/VO/Uri.php
        -
            message: '#is mutable#'
            path: src/Primitives/BoolEnum.php
        -
            message: '#\$null is mutable#'
            path: src/*
        -
            message: '#\$context is mutable#'
            path: src/Common/Traits/ContextTrait.php
        -
            message: '#\$plainPassword is mutable#'
            path: src/*
        -
            message: '#is mutable#'
            path: src/Component/Mailer/Configuration/MailerConfiguration.php
        -
            message: '#has a name ending with#'
            path: src/Common/Log/*.php
        -
            message: '#has a name ending with#'
            path: src/Common/Model/*.php
        -
            message: '#has a name ending with#'
            path: src/Common/Persistance/Handler/*.php
        -
            message: '#has a name ending with#'
            path: src/Symfony/Subscriber/*.php
        -
            message: '#has a name ending with#'
            path: src/TryCatch/*.php
        -
            message: '#accepts null#'
            path: tests/*
        -
            message: '#has default value null#'
            path: tests/*
        -
            message: '#returns null#'
            path: tests/*
        -
            message: '#operator new is used#'
            path: src/Symfony/Response/ResponseService.php
        -
            message: '#operator new is used#'
            path: src/Symfony/Mailer/Adapter/EmailAdapter.php
        -
            message: '#operator new is used#'
            path: src/Component/Mailer/Types/EmailAddress.php
        -
            message: '#operator new is used#'
            path: src/Primitives/Numeric.php
        -
            message: '#operator new is used#'
            path: tests/*
        -
            message: '#has default value null\|accepts null#'
            path: src/Contracts/Collection/*.php
        -
            message: '#has default value null#'
            path: src/Contracts/Collection/*.php
        -
            message: '#accepts null#'
            path: src/Contracts/Collection/*.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Primitives/Collection.php
        -
            message: '#has default value null#'
            path: src/Primitives/Collection.php
        -
            message: '#accepts null#'
            path: src/Primitives/Collection.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Common/Collection/EventCollection.php
        -
            message: '#has default value null#'
            path: src/Common/Collection/EventCollection.php
        -
            message: '#accepts null#'
            path: src/Common/Collection/EventCollection.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Contracts/Common/Assert/*.php
        -
            message: '#has default value null#'
            path: src/Contracts/Common/Assert/*.php
        -
            message: '#accepts null#'
            path: src/Contracts/Common/Assert/*.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Contracts/Dispatcher/*.php
        -
            message: '#has default value null#'
            path: src/Contracts/Dispatcher/*.php
        -
            message: '#accepts null#'
            path: src/Contracts/Dispatcher/*.php
        -
            message: '#has default value null\|accepts null#'
            path: src/Contracts/Event/*.php
        -
            message: '#has default value null#'
            path: src/Contracts/Event/*.php
        -
            message: '#accepts null#'
            path: src/Contracts/Event/*.php
        -
            message: '#does not implement any interfaces#'
            path: src/*
        -
            message: '#does not implement any interfaces#'
            path: tests/*
        -
            message: '#exceeds the maximum of \d+#'
            path: src/*
        -
            message: '#exceeds the maximum of \d+#'
            path: tests/*
        -
            message: '#is mutable#'
            path: src/Common/Log/AbstractLogger.php
        -
            message: '#modifies an object property#'
            path: src/Common/Log/AbstractLogger.php
        -
            message: '#is not private#'
            path: src/Common/Model/AbstractUser.php
        -
            message: '#modifies an object property#'
            path: src/Common/Model/AbstractUser.php
        -
            message: '#is mutable#'
            path: src/Common/VO/Event.php
        -
            message: '#modifies an object property#'
            path: src/Common/VO/Event.php
        -
            message: '#is not private#'
            path: src/Null/NullTrait.php
        -
            message: '#modifies an object property#'
            path: src/Null/NullTrait.php
        -
            message: '#__construct\(\) contains code other than property assignments#'
            path: src/Primitives/Numeric.php
        -
            message: '#appears to be a setter#'
            path: src/Primitives/Traits/CollectionCommonTrait.php
        -
            message: '#appears to be a setter#'
            path: src/Primitives/Traits/Collection/Set.php
        -
            message: '#appears to be a setter#'
            path: src/Common/Collection/EventCollection.php
        -
            message: '#appears to be a setter#'
            path: src/Contracts/Collection/SetInterface.php
        -
            message: '#has a name ending with#'
            path: src/Contracts/Dispatcher/EntityEventDispatcher.php
        -
            message: '#is static#'
            path: src/Primitives/Traits/DateTimeTrait.php
        -
            message: '#DateTimeInterface::set\(\) has default value null#'
            path: src/Primitives/Traits/DateTimeTrait.php
        -
            message: '#DateTimeInterface::setUnit\(\) has default value null#'
            path: src/Primitives/Traits/DateTimeTrait.php
        -
            message: '#DateTime::set\(\) has default value null#'
            path: src/Primitives/Traits/DateTimeTrait.php
        -
            message: '#DateTime::setUnit\(\) has default value null#'
            path: src/Primitives/Traits/DateTimeTrait.php
        -
            message: '#has a name ending with#'
            path: src/Symfony/CommandBus/*.php
        -
            message: '#has a name ending with#'
            path: src/Symfony/Mailer/Adapter/*.php
        -
            message: '#returns null#'
            path: src/TryCatch/NullThrowableHandler.php
